/* -------------------------------------------------------------- */
/* Mobile CSS */
.hunting-main-container{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

.hunting-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Spacing-S, 24px);
    
    padding: 0px 15px 0px 15px;
    margin: 0px;
}

.hunting-main-title{
    /* align-self: stretch; */
    color: #000;
    width: 100%;

    /* Title */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    padding-top: 50px;
    text-align: center;
}

.hunting-main-subtitle{
    width: 100%;

    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.hunting-images-container{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    padding: 30px 15px 0px 15px;
    margin: 0px;
}

.hunting-image-1{
    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
    padding:0;
    margin:0;
    background: url("../../photos/Wildlife/AR_29 09.07.24.jpg") lightgray 50% / cover no-repeat;
}

.hunting-image-2{
    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
    padding:0;
    margin:0;
    background: url("../../photos/Wildlife/AR_29 09.06.24.jpg") lightgray 50% / cover no-repeat;
}

.hunting-image-3{
    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
    padding:0;
    margin:0;
    background: url("../../photos/Wildlife/AR_29 08.24.24.jpg") lightgray 50% / cover no-repeat;
}

.hunting-body{
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */

    padding: 50px 15px 0px 15px;
    margin: 0px;
}

.fishing-image-1{
    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
    padding:0;
    margin:0;
    background: url("../../photos/Media (43).jpg") lightgray 50% / cover no-repeat;
}

.fishing-image-2{
    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
    padding:0;
    margin:0;
    background: url("../../photos/Media (40).jpg") lightgray 50% / cover no-repeat;
}

.fishing-image-3{
    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
    padding:0;
    margin:0;
    background: url("../../photos/Media (42).jpg") lightgray 50% / cover no-repeat;
}

.fishing-body{
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */

    padding: 50px 15px 0px 15px;
    margin: 0px;
}

/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .hunting-main-container{
        width: 100%;
        height: 100%;
        margin:0;
        padding:0;
    }

    .hunting-title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--Spacing-S, 24px);
        
        padding: 20px 80px 0px 80px;
        margin: 0px;
    }

    .hunting-main-title{
        /* align-self: stretch; */
        color: #000;
        width: 100%;

        /* Title */
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.28px;
        padding-top: 50px;
    }

    .hunting-main-subtitle{
        width: 100%;

        color: #828282;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */
    }

    .hunting-images-container{
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        padding: 110px 80px 0px 80px;
        margin: 0px;
    }

    .hunting-image-1{
        width: 33%;
        height: auto;
        aspect-ratio: 4/3;
        padding:0;
        margin:0;
        background: url("../../photos/Wildlife/AR_29 09.07.24.jpg") lightgray 50% / cover no-repeat;
    }

    .hunting-image-2{
        width: 33%;
        height: auto;
        aspect-ratio: 4/3;
        padding:0;
        margin:0;
        background: url("../../photos/Wildlife/AR_29 09.06.24.jpg") lightgray 50% / cover no-repeat;
    }

    .hunting-image-3{
        width: 33%;
        height: auto;
        aspect-ratio: 4/3;
        padding:0;
        margin:0;
        background: url("../../photos/Wildlife/AR_29 08.24.24.jpg") lightgray 50% / cover no-repeat;
    }

    .hunting-body{
        color: #828282;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */

        padding: 110px 340px 0px 340px;
        margin: 0px;
    }

    .fishing-image-1{
        width: 33%;
        height: auto;
        aspect-ratio: 4/3;
        padding:0;
        margin:0;
        background: url("../../photos/Media (43).jpg") lightgray 50% / cover no-repeat;
    }

    .fishing-image-2{
        width: 33%;
        height: auto;
        aspect-ratio: 4/3;
        padding:0;
        margin:0;
        background: url("../../photos/Media (40).jpg") lightgray 50% / cover no-repeat;
    }

    .fishing-image-3{
        width: 33%;
        height: auto;
        aspect-ratio: 4/3;
        padding:0;
        margin:0;
        background: url("../../photos/Media (42).jpg") lightgray 50% / cover no-repeat;
    }

    .fishing-body{
        color: #828282;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */

        padding: 110px 340px 0px 340px;
        margin: 0px;
    }
}