/* -------------------------------------------------------------- */
/* Mobile CSS */
.hunting-header{
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #2F5848;
    padding: 20px 0px 15px 0px;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hunting-title{
    color: #EFE;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    line-height: 150%; /* 72px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    padding: 0px 0px 30px 0px;
    margin: 0;
}

.hunting-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-M, 15px);
    padding: 0px 0px 20px 0px;
    margin: 0;
    width: 100%;
}

.hunting-nav-items{
    color: #EFE;

    /* Body text */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .hunting-header{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: #2F5848;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .hunting-title{
        color: #EFE;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 0px 46px 20px;
        margin: 0;
    }

    .hunting-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 16px);
        padding: 50px 20px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .hunting-nav-items{
        color: #EFE;

        /* Body text */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
}

/* -------------------------------------------------------------- */
/* Small Desktop CSS */
@media (min-width:1000px){
    .hunting-header{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: #2F5848;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .hunting-title{
        color: #EFE;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 0px 46px 80px;
        margin: 0;
    }

    .hunting-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 24px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .hunting-nav-items{
        color: #EFE;

        /* Body text */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
}

/* -------------------------------------------------------------- */
/* Full Desktop CSS */
@media (min-width:1500px){
    .hunting-header{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: #2F5848;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .hunting-title{
        color: #EFE;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 197px 46px 80px;
        margin: 0;
    }

    .hunting-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 48px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .hunting-nav-items{
        color: #EFE;

        /* Body text */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
}