/* -------------------------------------------------------------- */
/* Mobile CSS */
.footer-container{
    padding: 50px 0px 0px 0px;
}

.container{
    width: 100%;
    height: 164px;
    flex-shrink: 0;
    background: white;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.site-name{
    color: #000;

    /* Subheading */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */

    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    padding: 46px 0px 15px 0px;
    margin: 0;
}

.footer-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-M, 15px);
    padding: 0px 0px 20px 0px;
    margin: 0;
    width: 100%;
}

.footer-nav-items{
    color: #000;

    /* Body text */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-align: center;
}

.divider{
    width: 100%;
    height: 1px;

    background: #E6E6E6;
}

/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .footer-container{
        padding: 215px 80px 0px 80px;
    }

    .container{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: white;
        margin: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .site-name{
        color: #000;

        /* Subheading */
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 197px 46px 80px;
        margin: 0;
    }

    .footer-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 48px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .footer-nav-items{
        color: #000;

        /* Body text */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }

    .divider{
        width: 100%;
        height: 1px;

        background: #E6E6E6;
    }
}