/* -------------------------------------------------------------- */
/* Mobile CSS */
.wildlife-header{
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background: url("../../photos/Wildlife/AR_29 08.26.24_EDIT.jpg") lightgray 50% / cover no-repeat;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.wildlife-dimmer{
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.24);
    margin: 0;
    padding: 0;
    align-items:center;
    display: inline-flex;
    flex-direction: column;
}

.wildlife-top{
    width: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.wildlife-site-title{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    line-height: 150%; /* 72px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    padding: 46px 0px 15px 0px;
    margin: 0;
}

.wildlife-nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-M, 15px);
    padding: 0px 0px 80px 0px;
    margin: 0;
    width: 100%;
}

.wildlife-nav-items{
    color: #FFF;

    /* Body text */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.wildlife-page-title-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin:0;
    padding: 0;
}

.wildlife-page-title{
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0px;
}

.wildlife-subtitle{
    width: 80%;
    height: 100%;
    color: #FFF;
    text-align: center;
    align-items: center;
    white-space: normal;

    /* Subheading */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0px;
}
/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .wildlife-header{
        width: 100%;
        height: 500px;
        flex-shrink: 0;
        background: url("../../photos/Wildlife/AR_29 08.26.24.jpg") lightgray 50% / cover no-repeat;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
    }

    .wildlife-dimmer{
        width: 100%;
        height: 500px;
        flex-shrink: 0;
        background: rgba(0, 0, 0, 0.24);
        margin: 0;
        padding: 0;
        align-items:center;
        display: inline-flex;
        flex-direction: column;
    }

    .wildlife-top{
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .wildlife-site-title{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 10px 0px 20px;
        margin: 0;
    }

    .wildlife-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 20px);
        padding: 50px 20px 0px 0px;
        margin: 0;
        width: 100%;
    }

    .wildlife-nav-items{
        color: #FFF;

        /* Body text */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }

    .wildlife-page-title-container{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin:0;
        padding: 50px 40px 0px 40px
    }

    .wildlife-page-title{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        padding: 10px;
    }

    .wildlife-subtitle{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;

        /* Subheading */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        padding: 10px;
    }
}

/* -------------------------------------------------------------- */
/* Small Desktop CSS */
@media (min-width:1000px){
    .wildlife-header{
        width: 100%;
        height: 600px;
        flex-shrink: 0;
        background: url("../../photos/Wildlife/AR_29 08.26.24.jpg") lightgray 50% / cover no-repeat;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
    }

    .wildlife-dimmer{
        width: 100%;
        height: 600px;
        flex-shrink: 0;
        background: rgba(0, 0, 0, 0.24);
        margin: 0;
        padding: 0;
        align-items:center;
        display: inline-flex;
        flex-direction: column;
    }

    .wildlife-top{
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .wildlife-site-title{
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 0px 46px 80px;
        margin: 0;
    }

    .wildlife-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 32px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .wildlife-nav-items{
        color: #FFF;

        /* Body text */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }

    .wildlife-page-title-container{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin:0;
        padding: 80px 40px 0px 40px
    }

    .wildlife-page-title{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        padding: 10px;
    }

    .wildlife-subtitle{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;

        /* Subheading */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        padding: 10px;
    }
}

/* -------------------------------------------------------------- */
/* Full Desktop CSS */
@media (min-width:1500px){
    .wildlife-header{
        width: 100%;
        height: 720px;
        flex-shrink: 0;
        background: url("../../photos/Wildlife/AR_29 08.26.24.jpg") lightgray 50% / cover no-repeat;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
    }

    .wildlife-dimmer{
        width: 100%;
        height: 720px;
        flex-shrink: 0;
        background: rgba(0, 0, 0, 0.24);
        margin: 0;
        padding: 0;
        align-items:center;
        display: inline-flex;
        flex-direction: column;
    }

    .wildlife-top{
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .wildlife-site-title{
        color: #FFF;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 197px 46px 80px;
        margin: 0;
    }

    .wildlife-nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 48px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .wildlife-nav-items{
        color: #FFF;

        /* Body text */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }

    .wildlife-page-title-container{
        display: flex;
        width: 800px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin:0;
        padding: 134px 100px 259px 100px
    }

    .wildlife-page-title{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        padding: 10px;
    }

    .wildlife-subtitle{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;

        /* Subheading */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        padding: 10px;
    }
}