/* -------------------------------------------------------------- */
/* Mobile CSS */
.parent-map-container{
    width: 100%;
    height: 100%;
    min-height: 200px;
    align-items: center;
    margin:0;
    padding:0;
}

.access-title{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    padding: 50px 40px 20px 40px;
    margin:0;
}

/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .parent-map-container{
        width: 100%;
        height: 100%;
        min-height: 200px;
        align-items: center;
        margin:0;
        padding:0;
    }

    .access-title{
        color: #000;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.96px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        padding: 100px 80px 35px 80px;
        margin:0;
    }
}