/* Mobile CSS */
.header{
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #D3EAE4;
    padding: 20px 0px 15px 0px;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title{
    color: #2F5848;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    padding: 0px 0px 30px 0px;
    margin: 0;
}

.nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-M, 15px);
    padding: 0px 0px 20px 0px;
    margin: 0;
    width: 100%;
}

.nav-items{
    color: #2F5848;

    /* Body text */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:575px){
    .header{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: #D3EAE4;
        margin: 0px 0px 50px 0px;
        padding: 0;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .title{
        color: #2F5848;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 20px 46px 25px;
        margin: 0;
    }

    .nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 25px);
        padding: 50px 25px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .nav-items{
        color: #2F5848;

        /* Body text */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
}

/* -------------------------------------------------------------- */
/* Small Desktop CSS */
@media (min-width:1000px){
    .header{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: #D3EAE4;
        margin: 0px 0px 50px 0px;
        padding: 0;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .title{
        color: #2F5848;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 20px 46px 80px;
        margin: 0;
    }

    .nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 48px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .nav-items{
        color: #2F5848;

        /* Body text */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
}

/* -------------------------------------------------------------- */
/* Full Desktop CSS */
@media (min-width:1500px){
    .header{
        width: 100%;
        height: 164px;
        flex-shrink: 0;
        background: #D3EAE4;
        margin: 0px 0px 50px 0px;
        padding: 0;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .title{
        color: #2F5848;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%; /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 20px 46px 80px;
        margin: 0;
    }

    .nav{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 48px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .nav-items{
        color: #2F5848;

        /* Body text */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
    }
}