/* -------------------------------------------------------------- */
/* Mobile CSS */
.media-main-container{
    padding:0;
    margin:0;
}

.media-title-container{
    padding:0px 15px 0px 15px;
    margin:0;
    text-align: center;
}

.media-main-title{
    padding: 50px 0px 0px 0px;
    margin:0;

    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
}

.media-main-subtitle{
    padding:20px 0px 0px 0px;
    margin:0;

    width: 100%;

    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.media-divider{
    /* width: 100%; */
    height: 1px;
    background: #E6E6E6;
    margin: 0px 15px 0px 15px;
    padding: 0;
}

.media-wildlife-container{
    padding:0px 15px 0px 15px;
    margin:0;
}

.media-creeks-container{
    padding:0px 15px 0px 15px;
    margin:0;
}

.media-dronepics-container{
    padding:0px 15px 0px 15px;
    margin:0;
}

.media-dronevids-container{
    padding:0px 15px 0px 15px;
    margin:0;
}

.media-all-container{
    padding:0px 15px 0px 15px;
    margin:0;
}

.media-gallery-parent-container{
    padding:30px 0px;
    margin:0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .media-main-container{
        padding:0;
        margin:0;
    }

    .media-title-container{
        padding:0px 80px 0px 80px;
        margin:0;
        text-align: center;
    }

    .media-main-title{
        padding: 50px 0px 0px 0px;
        margin:0;

        color: #000;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.28px;
    }

    .media-main-subtitle{
        padding:20px 0px 0px 0px;
        margin:0;
    }

    .media-divider{
        /* width: 100%; */
        height: 1px;
        background: #E6E6E6;
        margin: 0px 80px 0px 80px;
        padding: 0;
    }

    .media-wildlife-container{
        padding:0px 80px 0px 80px;
        margin:0;
    }

    .media-creeks-container{
        padding:0px 80px 50px 80px;
        margin:0;
    }

    .media-dronepics-container{
        padding:0px 80px 0px 80px;
        margin:0;
    }

    .media-dronevids-container{
        padding:0px 80px 0px 80px;
        margin:0;
    }

    .media-all-container{
        padding:0px 80px 0px 80px;
        margin:0;
    }

    .media-gallery-parent-container{
        padding:50px 0px;
        margin:0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}