/* -------------------------------------------------------------- */
/* Mobile CSS */
.creeks-header {
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    background: url("../../photos/20201020_114546.jpg") lightgray 50% / cover no-repeat;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.creeks-dimmer {
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.24);
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.creeks-top {
    width: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.creeks-site-title {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 650;
    line-height: 150%;
    /* 72px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    padding: 30px 0px 15px 0px;
    margin: 0;
}

.creeks-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-M, 15px);
    padding: 0px 0px 50px 0px;
    margin: 0;
    width: 100%;
}

.creeks-nav-items {
    color: #FFF;

    /* Body text */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
}

.creeks-page-title-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.creeks-page-title {
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0px;
}

.creeks-subtitle {
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    align-items: center;

    /* Subheading */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0px;
}
/* -------------------------------------------------------------- */
/* Main CSS */
@media (min-width:500px){
    .creeks-header {
        width: 100%;
        height: 720px;
        flex-shrink: 0;
        background: url("../../photos/20201020_114546.jpg") lightgray 50% / cover no-repeat;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
    }

    .creeks-dimmer {
        width: 100%;
        height: 720px;
        flex-shrink: 0;
        background: rgba(0, 0, 0, 0.24);
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: column;
    }

    .creeks-top {
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        align-items: center;
        display: inline-flex;
        flex-direction: row;
    }

    .creeks-site-title {
        color: #FFF;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 650;
        line-height: 150%;
        /* 72px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: flex-start;
        padding: 46px 197px 46px 80px;
        margin: 0;
    }

    .creeks-nav {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--Spacing-M, 48px);
        padding: 50px 80px 40px 0px;
        margin: 0;
        width: 100%;
    }

    .creeks-nav-items {
        color: #FFF;

        /* Body text */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 30px */
    }

    .creeks-page-title-container {
        display: flex;
        width: 800px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 0;
        padding: 134px 100px 259px 100px
    }

    .creeks-page-title {
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        padding: 10px;
    }

    .creeks-subtitle {
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
        align-items: center;

        /* Subheading */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        padding: 10px;
    }
}